<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205243535053-0naba9vqo2quiqe0j7c5t3e5fumsfukb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205243535053-0naba9vqo2quiqe0j7c5t3e5fumsfukb</string>
	<key>API_KEY</key>
	<string>AIzaSyDfEaY4ivewZbSuA1GySgeR17bya1qhqfw</string>
	<key>GCM_SENDER_ID</key>
	<string>205243535053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.claudia.vanta.EventHub</string>
	<key>PROJECT_ID</key>
	<string>eventhub-bt</string>
	<key>STORAGE_BUCKET</key>
	<string>eventhub-bt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205243535053:ios:a3f53ac82f603865d9e384</string>
</dict>
</plist>